.about{
    position: relative;
    background: url("./Landing_Page_img1.jpg") no-repeat top center/cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem 0;
    color: aliceblue;
}
.about h3{
    font-size: 3rem;
    margin-bottom: -20px;
}
.about p{
    font-size: 1.5rem;
}
.about h3{
    text-shadow: 2px 2px 2px #333;
}
.about p{
    text-shadow: 2px 2px 2px #333;
    font-size: 1.8rem;
}
